I2C  MPU-6050.json
[{"id":"3f258a80.16f046","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["a2c013cd.52e3f"]]},{"id":"96f7eb0f.cccdf8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"a2c013cd.52e3f","type":"i2c in","z":"f6f2187d.f17ca8","name":"","busno":"1","address":"104","command":"59","count":"14","x":310,"y":200,"wires":[["7e38f50b.4aa58c"]]},{"id":"7e38f50b.4aa58c","type":"function","z":"f6f2187d.f17ca8","name":"","func":"let acel = [read_word_2c(0), read_word_2c(2), read_word_2c(4)]\nlet temp = read_word_2c(6)\nlet gyro = [read_word_2c(8), read_word_2c(10), read_word_2c(12)]\n\n\n//node.warn(gyroskop_xout);\n\nfunction read_word(reg){\n    h = msg.payload[reg]\n    l = msg.payload[reg+1]\n    value = (h << 8) + l\n    return value\n    \n}\n\nfunction read_word_2c(reg){\n    val = read_word(reg)\n    if (val >= 0x8000)\n        return -((65535 - val) + 1)\n    else\n        return val\n}\n\n\nfunction get_y_rotation(x,y,z){\n    radians = math.atan2(x, dist(y,z))\n    return -math.degrees(radians)\n}\n\nfunction get_x_rotation(x,y,z){\n    radians = math.atan2(y, dist(x,z))\n    return math.degrees(radians)\n}\nlet  newMsg = { \"aceleration\":acel,\n                \"temperature\":temp,\n                \"gyroscope\":gyro\n}\nreturn {payload: newMsg};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["96f7eb0f.cccdf8"]]},{"id":"fcbd0d68.5ba1c","type":"comment","z":"f6f2187d.f17ca8","name":"Data MPU-6050","info":"https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6500-Register-Map2.pdf\n\nBus Address:   0x68 = 104\n\n### GET DATA FROM Register 0x3B to 0x48\nHex Dec Register Name\n3B  59  ACCEL_XOUT_H\n3C  60  ACCEL_XOUT_L\n3D  61  ACCEL_YOUT_H\n3E  62  ACCEL_YOUT_L \n3F  63  ACCEL_ZOUT_H \n40  64  ACCEL_ZOUT_L\n41  65  TEMP_OUT_H \n42  66  TEMP_OUT_L \n43  67  GYRO_XOUT_H\n44  68  GYRO_XOUT_L \n45  69  GYRO_YOUT_H \n46  70  GYRO_YOUT_L \n47  71  GYRO_ZOUT_H \n48  72  GYRO_ZOUT_L \n\n","x":300,"y":140,"wires":[]},{"id":"d13ea729.b09c28","type":"comment","z":"f6f2187d.f17ca8","name":"","info":"### sfsfsfsf","x":100,"y":380,"wires":[]}]